<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="SenderEmail" value="dharunvenkat@gmail.com" />
    <add key="ReceiverEmail" value="kabilankabilan784@gmail.com" />
    <add key="SmtpUsername" value="dharunvenkat@gmail.com" />
    <add key="SmtpPassword" value="ujkk fzys pfhs korp" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
  </appSettings>
</configuration>